.ipt {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

.lab {
    font-size: 25px;
}

.continer {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgb(2, 2, 92);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

#but {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 173, 255);
    border: none;
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    transition: padding 0.2s;
}

#but:hover {
    background-color: rgb(0, 123, 255);
    padding: 12px;

}

#aviso {
    color: red;
}

/*BOL.HTML------------------------------------------------------------------------------------------------------------ */
/*BOL.HTML------------------------------------------------------------------------------------------------------------ */
#cont {
    display: flex;
    justify-content: space-around;
    flex-direction: row;


}

#conta {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

}




/*---------------BOTAO--------------------------*/
body.dark {
    background-color: #333;
    color: #fff;
}
.chox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: rgb(92, 90, 90);
    border-radius: 50px;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 20px;
    transform: scale(1.5);
}
.label .bol{
background-color: rgb(251, 255, 0);
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 16px;
width: 16px;
transform: translateX(0px);
transition: transform 0.2s linear;
}
.chox:checked + .label .bol {
    background-color: rgb(141, 141, 141);
    transform: translateX(20px);
}
#modo{
    color: #fff;
}